<%- include('./partials/header') %> 
<%- include('./partials/nav') %> 
<%- include('./partials/message') %> 

    <h1>home</h1>

    <a href="/login"><button class="border">Login</button></a>
    <a href="/register"><button class="border">Register</button></a>

<%- include('./partials/footer') %> 