<%- include('./partials/header') %> 
<%- include('./partials/nav') %> 
<%- include('./partials/message') %> 
   
    
      <br><br>
      <h1>Register</h1><br><br>


      <form action="/login" method="POST">

        
          <label>Username</label>
          <input type="text" placeholder="Ex. JohnDoe" name="username" class="border"><br><br>
      
        
          <label>Password</label>
          <input type="password" name="password" class="border" class="border"><br><br>
        
   
        <button type="submit">Submit</button>
      </form>

      <p>Dont have account? <a href="/register">register</a></p>
    


<%- include('./partials/footer') %> 